
### default for all ##
Host *
  # ForwardAgent no
  # ForwardX11 no
  # ForwardX11Trusted yes
  # User nixcraft
  # Port 22
  # Protocol 2
  # IdentitiesOnly yes
  ServerAliveInterval 60
  ServerAliveCountMax 30

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_rsa_githubee

Host dain
  HostName dain
  User gillespr
  IdentityFile ~/.ssh/id_rsa_dain

Host cloud
  HostName 10.0.1.13
  User pi
  IdentityFile ~/.ssh/id_rsa_rp1
